body {
    font-size: 14pt;
    font-family: 'Droid Sans', serif;

    background-color: rgba(90,90,0,.05);
    color: rgb(80,80,80);

    padding: 0;
    margin: 0;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    flex-direction: column;
    -webkit-flex-direction: column;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', serif;
    color: rgb(30,30,30);
}

pre, code, #projects a {
    font-family: 'Cousine', monospace;
}

a {
    color: rgba(90,0,200,.6);
}

pre {
    color: rgb(140,30,90)
}

ul li, ol li {
    line-height: 1.4em;
}

#projects {
    background-color: rgba(0,90,90,.05);
    padding: 4px;
}

#projects ul {
    padding: 0;
    margin: 0;

    flex-direction: row;
    -webkit-flex-direction: row;
}

#projects li {
    display: inline-flex;
    list-style-type: none;

    margin: 2px 6px;
    padding: 2px 5px;
    border-radius: 2px;
}

#projects li a {
font-family: 'Cousine', monospace;
color: rgba(240,0,0,0.8);
text-decoration: underline;
flex: 1;
-webkit-flex: 1;
padding: 4px 1em;
}

#content {
padding: 0 1em;
}
